version: '3.8'
services:
  db:
    image: mysql:8
    container_name: cra-db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ./docker/mysql_data:/var/lib/mysql

  backend:
    env_file:
      - .env
    build:
      context: ./
      dockerfile: ${DOCKERFILE}
    container_name: cra-backend-dev
    restart: always
    ports:
      - "${PORT}:3000"
    depends_on:
      - db
    volumes:
      - ./:/app
      - /node_modules
    command: npm run dev